.imgaes{
    position: relative;
}
.navPage{
    position: absolute;
    right: 110%;
    top: 4px;
    width: 30%; 
}

.page{
    height: 600px;
    width: 100%;
    background: url('./238903594_540986137143677_936954197133181577_n.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    margin: 0;
    padding: 0;
  }
  
  .page a {
    position: absolute;
    bottom: 5%;
    right: 43%;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid green;
    padding: 10px 20px;
    color: white;
    background:#60ac5d;
    border: 0;
    border-radius: 10px;
  }

  